.sprites {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.applewatchseries7gps\+cellular {
  background-image: url(/img/Product/applewatchseries7gps+cellular.jpeg);
  width: 128px;
  height: 128px;
}
.djiaction2dual\-screencombo {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/djiaction2dual-screencombo.jpeg);
}
.lenovolegionm600wirelessgamingmouse\(stingray\)\(gy51c96033\) {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/lenovolegionm600wirelessgamingmouse.png);
}
.lenovothinkvisiont24i-2023\.8monitor {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/lenovothinkvisiont24i-2023.8monitor.jpeg);
}
.lenovoideapadslim1\(14\)\(82gw0017hh\) {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/lenovo-laptop-ideapad-s150-14-gallery-2.jpg);
}
.hpelitepresentermouse {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/HP-Elite-Presenter-Mouse-1.jpg-AML-Convert-571Wx379H.jpeg);
}
.mf-2filmcamera {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/MF-2-Film-Camera.jpg-AML-Convert-571Wx379H.jpeg);
}
.steelseriesapex5gamingkeyboard\(us-english\)64532 {
  width: 102px;
  height: 102px;
  background-image: url(/img/Product/buyimg_apex5_006.png__1920x1080_q100_crop-fit_optimize_subsampling-2.png);
}
.steelseriesprimegamingmouse62533 {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/Prime-Gaming.jpg-AML-Convert-571Wx379H.jpeg);
}
.jabraelite45honearwirelessearphone {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/469020_rb8n4c_0.png);
}
.applehomepodmini {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/homepodmini.jpeg);
}
.appleairpodspro {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/AirPodsPro.jpg-AML-Convert-571Wx379H.jpeg);
}
.apple16-inchmacbookpro\:applem1prochip {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/16inchMacBookProAppleM1Prochipwith10coreCPUand16coreGPU512GBSSD-SpaceGrey.jpg-AML-Convert-571Wx379H.jpeg);
}
.apple14-inchmacbookpro\:applem1prochip {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/14inchMacBookProAppleM1Prochipwith8coreCPUand14coreGPU512GBSSD-Silver.jpg-AML-Convert-571Wx379H.jpeg);
}
.appleiphone13promax {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/iPhone13ProMax-Graphite.jpg-AML-Convert-571Wx379H.jpeg);
}
.appleipadminiwi-fi + cellular {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/1ipadminispacegrey.jpg-AML-Convert-571Wx379H.jpeg);
}
.samsungt530032fhdsmarttvua32t5300ajxzk {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/121-50-00072-1-7-.jpg-AML-Convert-571Wx379H.jpeg);
}
.samsungls05ttheserosmarttv\(2020\) {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/121-50-00021-1-0-.jpg-AML-Convert-571Wx379H.jpeg);
}
.samsunggalaxybuds2truewirelessearphones {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/Buds2-WH.jpg-AML-Convert-571Wx379H.jpeg);
}
.samsunggalaxya525g {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/a52pp1.jpg-AML-Convert-571Wx379H.jpeg);
}
.samsunggalaxytabs7fewi-fi {
  width: 128px;
  height: 128px;
  background-image: url(/img/Product/Tab-A7-Lite.jpg-AML-Convert-571Wx379H.jpeg);
}
.dirtyharry {
  width: 128px;
  height: 128px;
  background-position: -387px -387px;
}
.district9 {
  width: 128px;
  height: 128px;
  background-position: -516px 0;
}
.django {
  width: 128px;
  height: 128px;
  background-position: -903px -516px;
}
.dumbanddumber {
  width: 128px;
  height: 128px;
  background-position: -1032px -516px;
}
.eternalsunshineofthespotlessmind {
  width: 128px;
  height: 128px;
  background-position: -129px -645px;
}
.eyeswideshut {
  width: 128px;
  height: 128px;
  background-position: -258px 0;
}
.fantasia {
  width: 128px;
  height: 128px;
  background-position: -516px -645px;
}
.fantasticfour {
  width: 128px;
  height: 128px;
  background-position: -516px -903px;
}
.fast6 {
  width: 128px;
  height: 128px;
  background-position: -645px -877px;
}
.fightclub {
  width: 128px;
  height: 128px;
  background-position: -1032px -774px;
}
.forrestgump {
  width: 128px;
  height: 128px;
  background-position: 0 -516px;
}
.fromdusktilldawn {
  width: 128px;
  height: 128px;
  background-position: -903px -903px;
}
.gangsofnewyork {
  width: 128px;
  height: 128px;
  background-position: -774px -903px;
}
.gladiator {
  width: 128px;
  height: 128px;
  background-position: -748px -1161px;
}
.harrypotter {
  width: 128px;
  height: 128px;
  background-position: -645px 0;
}
.hitch {
  width: 128px;
  height: 128px;
  background-position: -129px -516px;
}
.hollowman {
  width: 128px;
  height: 128px;
  background-position: -877px -1161px;
}
.hugo {
  width: 128px;
  height: 128px;
  background-position: -903px -129px;
}
.iceage {
  width: 128px;
  height: 128px;
  background-position: -645px -748px;
}
.inception {
  width: 128px;
  height: 128px;
  background-position: -903px -1032px;
}
.ipman {
  width: 128px;
  height: 128px;
  background-position: 0 -1032px;
}
.jackiebrown {
  width: 128px;
  height: 128px;
  background-position: -645px -490px;
}
.killbill {
  width: 128px;
  height: 128px;
  background-position: -258px -645px;
}
.kingsspeech {
  width: 128px;
  height: 128px;
  background-position: -129px -1161px;
}
.lostintranslation {
  width: 128px;
  height: 128px;
  background-position: -1032px -645px;
}
.loveactually {
  width: 128px;
  height: 128px;
  background-position: -387px -1032px;
}
.magnolia {
  width: 128px;
  height: 128px;
  background-position: -774px 0;
}
.meettheparents {
  width: 128px;
  height: 128px;
  background-position: -516px -1032px;
}
.memento {
  width: 128px;
  height: 128px;
  background-position: -129px -903px;
}
.missionimpossible {
  width: 128px;
  height: 128px;
  background-position: -129px -1290px;
}
.monstersball {
  width: 128px;
  height: 128px;
  background-position: -645px -1006px;
}
.montypythonandtheholygrail {
  width: 128px;
  height: 128px;
  background-position: -516px -129px;
}
.oceanstwelve {
  width: 128px;
  height: 128px;
  background-position: -903px -1290px;
}
.oldboy {
  width: 128px;
  height: 128px;
  background-position: -774px -129px;
}
.panslabyrinth {
  width: 128px;
  height: 128px;
  background-position: -258px -1032px;
}
.passionofthechrist {
  width: 128px;
  height: 128px;
  background-position: -1032px -1032px;
}
.pearlharbor {
  width: 128px;
  height: 128px;
  background-position: -516px -774px;
}
.princessmononoke {
  width: 128px;
  height: 128px;
  background-position: -774px -774px;
}
.prometheus {
  width: 128px;
  height: 128px;
  background-position: 0 -1161px;
}
.psycho {
  width: 128px;
  height: 128px;
  background-position: -387px -645px;
}
.pulpfiction {
  width: 128px;
  height: 128px;
  background-position: -387px 0;
}
.punchdrunklove {
  width: 128px;
  height: 128px;
  background-position: -387px -903px;
}
.rememberthetitans {
  width: 128px;
  height: 128px;
  background-position: -258px -516px;
}
.scarface {
  width: 128px;
  height: 128px;
  background-position: -387px -1161px;
}
.scream {
  width: 128px;
  height: 128px;
  background-position: -619px -1161px;
}
.shawshankredemption {
  width: 128px;
  height: 128px;
  background-position: -903px -645px;
}
.skyfall {
  width: 128px;
  height: 128px;
  background-position: -1032px 0;
}
.sleeplessinseattle {
  width: 128px;
  height: 128px;
  background-position: -1032px -1290px;
}
.spiderman2 {
  width: 102px;
  height: 102px;
  background-position: -645px -129px;
}
.startrek {
  width: 128px;
  height: 128px;
  background-position: -903px -258px;
}
.teamamerica {
  width: 128px;
  height: 128px;
  background-position: -1032px -903px;
}
.terminator {
  width: 128px;
  height: 128px;
  background-position: 0 -258px;
}
.the40yearoldvirgin {
  width: 128px;
  height: 128px;
  background-position: -774px -1290px;
}
.thebiglebowski {
  width: 128px;
  height: 128px;
  background-position: -903px -387px;
}
.thebutterflyeffect {
  width: 128px;
  height: 128px;
  background-position: -258px -1290px;
}
.thedarkknight {
  width: 128px;
  height: 128px;
  background-position: -258px -258px;
}
.thefall {
  width: 128px;
  height: 128px;
  background-position: -645px -361px;
}
.thegodfather {
  width: 128px;
  height: 128px;
  background-position: -903px 0;
}
.thegreenmile {
  width: 128px;
  height: 128px;
  background-position: -516px -387px;
}
.thehours {
  width: 128px;
  height: 128px;
  background-position: -387px -258px;
}
.thematrix {
  width: 128px;
  height: 128px;
  background-position: -258px -387px;
}
.thenotebook {
  width: 128px;
  height: 128px;
  background-position: -129px -387px;
}
.theprestige {
  width: 128px;
  height: 128px;
  background-position: -387px -774px;
}
.therewillbeblood {
  width: 128px;
  height: 128px;
  background-position: -129px 0;
}
.thering {
  width: 128px;
  height: 128px;
  background-position: 0 -129px;
}
.theusualsuspects {
  width: 128px;
  height: 128px;
  background-position: -774px -387px;
}
.thevillage {
  width: 128px;
  height: 128px;
  background-position: 0 0;
}
.thewizardofoz {
  width: 128px;
  height: 128px;
  background-position: -129px -774px;
}
.titanic {
  width: 128px;
  height: 128px;
  background-position: -387px -516px;
}
.toystory {
  width: 128px;
  height: 128px;
  background-position: -645px -619px;
}
.transformers2 {
  width: 128px;
  height: 128px;
  background-position: -1032px -387px;
}
.twilight {
  width: 128px;
  height: 128px;
  background-position: 0 -387px;
}
.unbreakable {
  width: 128px;
  height: 128px;
  background-position: -258px -903px;
}
.vampirehunter {
  width: 128px;
  height: 128px;
  background-position: -903px -774px;
}
.vanillasky {
  width: 128px;
  height: 128px;
  background-position: -387px -129px;
}
.whenharrymetsally {
  width: 128px;
  height: 128px;
  background-position: -1032px -129px;
}
.yellowsubmarine {
  width: 128px;
  height: 128px;
  background-position: -258px -774px;
}
.zoolander {
  width: 128px;
  height: 128px;
  background-position: -774px -1032px;
}
